# Ambiente virtual
.venv/

# Arquivos do PyInstaller
build/
dist/
*.spec

# Arquivos gerados pelo app
last_control.txt
termos_salvos/

# Excel de modelo (opcional, mantenha se quiser versionar)
# TERMO_DE_ENTREGA_DE_EQUIPAMENTO.xlsx

# Arquivos temporários e do sistema
__pycache__/
*.py[cod]
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
